NODE_ENV=development
PORT=5001
MONGO_URI=mongodb://localhost:27017/aether
JWT_SECRET=your_jwt_secret_here

# SMTP Configuration
SMTP_SERVICE=gmail
SMTP_HOST=smtp.gmail.com
SMTP_SECURE=false
SMTP_USER=your_email@gmail.com
SMTP_PASS=your_app_password_here
